@using System.Collections
@model GlobalWatchSystem.Models.User

<hgroup class="col-lg-12">
    <h3 class="page-header">@Resources.UserManagementCreate</h3>
</hgroup>

<article>
    @using (Html.BeginForm("create", "account"))
    {
        @Html.AntiForgeryToken()

        <div class="col-lg-6">
            <div class="form-group">
                <div class="edit-item">
                     @Html.LabelFor(u => u.UserName)
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(u => u.UserName)
                </div>
                
                <div class="edit-item">
                    @Html.LabelFor(u => u.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(u => u.Email)
                </div>
                <div class="edit-item">
                    @Html.LabelFor(u => u.Phone)
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                    @Html.ValidationMessageFor(u => u.Phone)
                </div>
                <div class="edit-item">
                    @Html.LabelFor(u => u.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(u => u.Password)
                </div>
                <div class="edit-item">
                    @Html.LabelFor(u => u.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(u => u.ConfirmPassword)
                </div>
                <div class="edit-item">
                    @Html.LabelFor(u => u.AreaId)
                    @Html.DropDownListFor(u => u.AreaId, (IEnumerable<SelectListItem>)ViewBag.Areas, new {@class="form-control"})
                </div>
            </div>
            <button type="submit" class="btn btn-default">@Resources.ActionSave</button>
        </div>
    }
</article>